<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="xn"
           Manufacturer="xeger.net"
           Version="$(var.Version)"
           UpgradeCode="937636f2-6119-4fed-b2cb-e8536a7d6a7e">

    <MediaTemplate EmbedCab="yes" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="INSTALLFOLDER" Name="!(bind.Property.ProductName)" />
    </StandardDirectory>

    <ComponentGroup Id="XNComponents" Directory="INSTALLFOLDER">
      <?if $(var.Platform) = "x64" ?>
      <Component Id="XN_AMD64" Guid="3bbf75db-dbb0-4bdf-81c8-e340303d38d5">
        <File Source="dist/windows-amd64/xn.exe" />
      </Component>
      <?endif?>

      <?if $(var.Platform) = "arm64" ?>
      <Component Id="XN_ARM64" Guid="ce4d2437-d20b-4305-b524-b0885dec584c">
        <File Source="dist/windows-arm64/xn.exe" />
      </Component>
      <?endif?>

      <!-- Put xn on the system PATH; removed again on uninstall. -->
      <Component Id="XN_PATH" Guid="7031e119-a265-4168-8449-70c52a22221e">
        <Environment Id="PATH" Name="PATH" Value="[INSTALLFOLDER]" Part="last" Action="set" System="yes" Permanent="no" />
      </Component>
    </ComponentGroup>

    <Feature Id="MainFeature" Title="xn" Level="1">
      <ComponentGroupRef Id="XNComponents" />
    </Feature>
  </Package>
</Wix>
